/* #region Mina */
/* #endregion */
@font-face {
  font-family: Mina;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Mina/Mina-Regular.ttf") format("truetype"); }

@font-face {
  font-family: Mina;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Mina/Mina-Bold.ttf") format("truetype"); }
