.error-layout{
    background-color: #F2F2F2;
    color: white;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: Mina;
}

.error-container{
    max-width: 450px;
    &__logo{
        max-width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    &__box{
        background-color: rgba($color: white, $alpha: 0.7);
        border-radius: 10px;
        color: #000000;
        padding: 1.5rem 50px;
        text-align: center;
        opacity: 0.8;
        &>.title{
            font-size: 1.5rem;
            font-weight: bold;
            color: rgba($color: #000000, $alpha: 0.7);
        }
        &>.description{
            margin-top: 2rem;
            &>.text{
                margin-top: 0.5rem;
            }
        }
    }
}
.validation-errors{
    background:#d63130;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    color:white;
    &>.validation-message{
        padding: 0.5rem;
    }
}