.partner-layout{
    background-color: #F2F2F2;
    color: black;
    display: grid;
    font-family: Mina;
    padding:0 !important;
    grid-template-columns: 1fr 4fr;
    & .sidebar-container{
        background-color: #005A51 !important;
    }
    & .user-container{
        background: #009688 !important ;
    }
    & .action-btn{
        background-color: #009688 !important;
        &--option{
            background-color: rgba($color: #009688, $alpha: 0.7);
        }
    }
}