.pin-layout{
    max-width: 350px !important;
}
.pin-container{
    padding-bottom: 2rem;
    &>.textbox-container{
        margin-top: 4rem;
        &>.textbox{
            &> input{
                letter-spacing: 40px;
                width: 360px;
                border: none;
                margin-left: 17px;
                background: none;
                font-size: 2rem;
            }
            &>.line{
                display: flex;
                justify-content: space-between;
                &>hr{
                    width: 35px;
                }
            }
        }
    }
    &>.button-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin-top: 2rem;
        &>.numkey{
            font-weight: bold;
            font-size: 1.5rem;
            margin: 2rem;
        }
    }
}