.attachment-container{
    margin-bottom: 2rem;
    &>.title{
        font-weight: bold;
        font-size: 1.5rem;
        padding-bottom: 2rem;
    }
    &>.attachment{
        padding-top: 1rem;
        font-weight: bold;   
    }
    &>.attachment-input{
        padding-top: 0.5rem;
    }
    &>.attachment-box{
        padding-top: 0.5rem;
    }
}